.contain-form{
    display: inline-block;
    vertical-align: top;
}
.contain-sub{
    height: 456px;
    width: 396px;
}

.form{
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    width: 396px;
    padding-bottom: 10px;
    padding-top: 10px;

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    margin-top: 7px;
}

input{
    width: 330px;
    height: 22px;
    padding: 14px 16px;
    font-size: 17px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    
}

input:focus{
    outline: none;
    border: 1px solid #1b74e4;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1b74e4;
}

button{
    background-color: #1877f2;
    border: none;
    color: #fff;
    border-radius: 6px;
    font-size: 20px;
    margin: 16px 0;
    line-height: 48px;
    padding: 0 16px;
    width: 364px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}
button:hover{
    background-color: #1877f2;
}

a{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    text-decoration: underline;
}
.line{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px 10px 20px;
    text-align: center;
    width: 364px;
}

.new-acount button{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    width: 190px;
    background-color: #42b72a;
}
.pagina{
    text-align: center;
    border-top: none;
    color: #1c1e21;
    margin-top: 28px;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
}
.pagina a{
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.pagina a:hover {
    text-decoration: underline;
}

.pagina p{
    display: inline;
}

@media only screen and (max-width: 900px){
    .contain-form {
        float: none;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 1075px){
    .contain-form {
        float: right;
    }

}